.pics {
  display: flex;
  justify-content: center;
}

.member-cards {
  display: flex;
  justify-content: center;
}

.tool-cards {
  display: flex;
  justify-content: space-between;
}

.source-cards {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .member-cards {
    flex-direction: column;
    align-items: center;
  }

  .tool-cards {
    flex-direction: column;
    align-items: center;
  }

  .source-cards {
    flex-direction: column;
    align-items: center;
  }

  .charities {
    flex-direction: column;
    align-items: center;
  }
}

.about-us-text {
  padding: 0 15rem;
  align-items: center;
  font-size: 1.2em;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 25px;

}

.totals-text {
  font-size: 1.5em;
}

.custom1 {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  background-color: #0872F7;

  border-radius: 20px;

}

.custom1:hover {
  background-color: #777;

}

.api-doc-text {
  font-size: 2em;
  color: white;
}

.donate-text {
  font-size: 1.5em;
}

.charities {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

h1 {
  font-weight: bold !important;
}