#title {
    font-weight: bold;
    margin-left: 0%;
}

.custom-button {
    background-color: black;
    color: black;
}

.card {
    position: relative;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
}

#card-body {
    padding-left: 0px;
    padding-right: 0px;
}

.card-info {
    height: 25vh;
    max-height: 500px;
    overflow: auto;
    margin: 5px;
    font-size: .9em;
    color: white;
}

.button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #0872F7;
    text-align: center;
    border-radius: 20px;
}

.card img.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

#full-card {
    background-color: #0872F7;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}