.job-text {
    max-height: 500px;
    overflow-y: auto;
}

.job-text::-webkit-scrollbar {
    width: 12px;
}

.job-text::-webkit-scrollbar-thumb {
    background-color: #0872F7;
    /* Change this to the color you prefer */
    border-radius: 6px;
}

.job-text::-webkit-scrollbar-track {
    background-color: #69aaff;
    /* Change this to the color you prefer */
}