.home-container {
  position: relative;
  height: 100vh;
  text-align: center;
}

.bg-image {
  background-image: url(../media/home-page.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.75vw;
}


@media screen and (min-width: 901px) {
  .text-overlay {
    font-size: 1.75vw;
  }

  #large-font {
    font-size: 5vw;
  }
}

@media screen and (max-width: 700px) {
  .text-overlay {
    font-size: 2vw;
    width: 90%;
  }

  #large-font {
    font-size: 50px;
  }
}

@media screen and (max-width: 900px) {
  .text-overlay {
    font-size: 2.5vw;
    width: 90%;
  }

  #large-font {
    font-size: 50px;
  }
}