.attributes-again {
    border-radius: 15px;
    background-color: #69aaff;
    padding: 10px;
    border: 2px solid #0872F7;
    font-size: larger;
    margin: 0 auto;
    max-width: 70%;
}

.job-text {
    background-color: #69aaff;
    /* Set a background color */
    border-radius: 10px;
    /* Set border-radius for rounded corners */
    padding: 20px;
    /* Add padding for spacing within the container */
    margin: 20px 0;
    /* Add margin for spacing around the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add a subtle box shadow for depth */
}

.Company {
    font-size: x-large;
    padding-bottom: 20px;
    font-weight: bold;
}

.main-container {
    align-items: center;
    width: 100%;
    align-self: center;
}

.job-description,
.other-instances {
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.2em;
}

.card-holder {
    font-size: .7em;
    scale: .9;
    display: flex;
    justify-content: center;
    /* Horizontally distribute items */
    align-items: center;
    /* Vertically center items */
    flex-wrap: wrap;
    /* Allow items to wrap to the next row if needed */
}

.house-image {
    max-width: 400px;
    max-height: 300px;
    object-fit: contain;
}

.resource-img {
    max-width: 400px;
    max-height: 300px;
    object-fit: contain;
}

.map-image {
    padding: 20px;
}