#member-name{
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 1em;
  color: white;
}

#card-body{
  color: white;
  

}

#member-card-full{
  background-color: #0872F7;
  border-radius: 20px;
  border: 3px solid #000;
  padding-left: 3px;
  padding-right: 3px;
  border-width: 0px;
  line-height: 20px !important;

}

hr{

  border: 2px solid rgba(255, 255, 255, 1) !important;

}