#page-container {
  display: flex;
  justify-content: center;
  /* Horizontally distribute items */
  align-items: center;
  /* Vertically center items */
  flex-wrap: wrap;
  /* Allow items to wrap to the next row if needed */
}

.dropdownContainer {
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.pagination-component-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.searchContainer {
  margin-bottom: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.job-graph-container,
.rent-chart-container,
.resource-chart-container,
.severity-container,
.effect-container,
.side-effect-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  width: 100%;
  height: 100%;
}