* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 1rem;
  text-align: center;
}


.navbar-nav {
  display: flex;
  margin-left: auto;
}

/* Apply background color to the active Nav.Item */
.navbar-nav .active {
  background-color: rgb(43, 43, 43);
}

/* Apply background color on hover for Nav.Item */
.navbar-nav .nav-item:hover {
  background-color: #777;
}

.custom-collapse .nav {
  background-color: red;
}

.nav-item {
  height: 100%;
  font-size: 1rem;
  margin: 5px;
}

.nav {
  background-color: #0872F7;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  width: 100%;

}

@media screen and (min-width: 901px) {
  .site-title {
    font-size: 2.5vw;
  }

  .nav-item {
    font-size: 1vw;
  }
}

@media screen and (max-width: 900px) {
  .site-title {
    font-size: 25px;
  }
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: rgb(43, 43, 43);
}

.nav li:hover {
  background-color: #777;
}