/* Pagination CSS */
@media screen and (max-width: 700px) {
    #page-button {
        padding: 5px;
    }

    #page-button-active {
        padding: 5px;
    }

    #page-button-disabled {
        padding: 5px;
    }
}

#page-button {
    color: white;
    background-color: #0872F7;
    display: flex;
    justify-content: center;
    /* Horizontally distribute items */
    align-items: center;
}

#page-button-active {
    color: white;
    background-color: rgb(43, 43, 43);
}

#page-button-disabled {
    color: white;
    background-color: rgb(190, 190, 190);
}