/* Styling for the default state (grey) */
.nav-tabs .nav-link {
    background-color: grey;
    color: white;
    border: none;
    font-size: 2vh;
    align-self: center;
    width: auto;
    transition: width 0.3s;
}

/* Styling for the selected state (white) */
.nav-tabs .nav-link.active {
    background-color: white;
    color: black;
    border: none;
    font-size: 2vh;
    align-self: center;
    width: auto;
    transition: width 0.3s;
}

/* Media query for smaller screens 
*  Tabs take full width on smaller screens */
@media (max-width: 768px) {
    .nav-tabs {
        flex-direction: column;
    }

    .nav-tabs .nav-item .nav-link {
        width: 100%;
    }

    .nav-tabs .nav-item .nav-link.active {
        width: 100%;
    }
}

.no-match {
    text-align: center;
}

#page-container {
    display: flex;
    justify-content: center;
    /* Horizontally distribute items */
    align-items: center;
    /* Vertically center items */
    flex-wrap: wrap;
    /* Allow items to wrap to the next row if needed */
}