
#tools-card-title {
    font-size: 1.8em;
    color: white;
    font-weight: bold;
    
}

#tool-box{
  background-color: #0872F7;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  
}


  